
h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 15%;
}

.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
}

.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    margin-left: 0%;
    bottom: 50%;
    
}

.top-cloud{
    position: absolute;
    top: 10%;
    right: 15%;
}
