
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.programmer{
    line-height: 2;
    font-weight: normal;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 9%;
}

.middle-container{

}

.bottom-container{

}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 30%;
    bottom: 30%;
    
}

.top-cloud{
    position: absolute;
    top: 12%;
    right: 30%;
}

