
h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 9%;
}

.middle-container{

}

.bottom-container{

}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    margin-left: 0%;
    bottom: 50%;
    
}

.top-cloud{
    position: absolute;
    top: 12%;
    right: 30%;
}

