
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    line-height: 2;
    font-weight: normal;
    padding-bottom: 1%;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
  color: #11999E
}

p{
    line-height: 2;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}


.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 15%;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 30%;
    bottom: 30%;
    
}

.top-cloud{
    position: absolute;
    top: 12%;
    right: 30%;
}


.skill-row{
    width:50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width: 20%;
    float: left;
    margin-right: 30px;
}

.eat-img{
    width: 20%;
    float: right;
    margin-left: 30px;
}

.intro{
    width:30%;
    margin: 0 auto;
}

hr{
    width: 4%;
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    margin: 100px auto;
}