
h1{
    margin-top: 0;
}

body{
    margin: 0;
}

.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
}

.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;
}