
h1{
    margin-top: 0;
}

body{
    margin: 0;
    text-align: center;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 6%;
}

.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
}

.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    margin-left: 0%;
    bottom: 50%;
    
}

.top-cloud{
    position: absolute;
    margin-top: 3%;
    right: 15%;
}

.heading-div{
    margin-top: 10%;
}