body{
    background-color: #f1faee;
}

button{
    font-size: 30px;
    background-color: #a8dadc;
}

h1, h2{
    color: darkslateblue;
}

#signup{
    background-color: #1d3557 ;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag{
    background-color: #e63946;
    color:#f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    text-decoration: none;
    font-weight: 700;
}

footer a{
    color:#e63946;
}

input + button {
    background-color: pink;
}

h2 + button{
    font-size: 20px;
}

section[class="post"]{
    color: greenyellow;
}

button:hover{

}


.post button:hover{
        background-color:#e63946 ;
    color:#f1faee;  
}

a:hover{
    text-decoration: underline;
}

.post  button:active{
    background-color: #02c39a ;
}