section{
    width: 80%;
    height: 800px;
    background-color: purple;
    margin: 0 auto;
    background-image: url("https://images.unsplash.com/photo-1585242902894-e8a65ecbe1ef?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
}

h1{
    font-size: 100px;
    color: white;
}