div{
    width: 300px;
    height: 300px;
}

#one{
    background-color: blue;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
}

#two{
    background-color: grey;
    border-color: pink;
    border-width: 4px;
    border-style: dashed;
    border-left-color: black;
}

#three{
    background-color: hotpink;
    border: 4px solid black;
    border-left-style: dotted;
    border-radius: 30px;
}

h1{

    width: 200px;
    background-color: pink;
    padding: 30px;
    padding-top: 50px;
    padding-left: 30px;
}

button{
    padding: 10px 20px;
    border-radius: 20px;
}