h1{
    text-align: center;
    font-weight: 400;
    text-decoration:#a57d6d underline wavy;
    letter-spacing: 10px;
    font-size: 80px;
    font-family: fantasy;
}

p{
    text-align: right;
    font-weight: normal;
}

a{
    text-decoration: none;
}